<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>stock simulator
    </title>
    
  </head>




  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light navbar-expand-md">
        <a class="navbar-brand" href="#">Menu</a>
        <ul class="navbar-nav w-100">
            <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">link</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Link</a></li>
            <li class="nav-item ml-md-auto"><a href="/login">Login</a></li> 
            <li class="nav-item ml-md-auto"><a href="/signup">Signup</a></li> 
        </ul>
    </nav>


    <br><br>

s
    <div class="text-center">
        
        <h1>Stock Simulator System</h1>
        <br>
        <p>There's Bootstrap 4 here. I centered the text, added a little whitespace, and <span class="text-danger">changed style</span> without extra custom CSS. It's already looking better!</p>
    </div>
<div id="root" style="width:500px">
    <div id="div_one" width:500px>
      <h1>section1</h1></div>
      <div id="div_two" width:200px>
        <h1>section2</h1>
      </div>

    <div id ="div_three" width:300px>
      aside
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>